<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>{{ .Title }} · {{ .Site.Title }}</title>
        
        {{ block "css" . }}{{ partial "site-css.html" . }}{{ end }}
        
        {{ block "nojs" . }}{{ partial "site-nojs.html" . }}{{ end }}
        
        {{ block "twitter-card" . }}{{ partial "site-twitter-card.html" . }}{{ end }}
        
        {{ block "open-graph-data" . }}{{ partial "site-open-graph-data.html" . }}{{ end }}
        
        {{ block "favicons" . }}{{ partial "site-favicons.html" . }}{{ end }}
        
    </head>
    
    <body>
        
        <div class="grow-site-container">
        
         
            {{ block "navbar" . }}{{ partial "site-navbar.html" . }}{{ end }}
        
            {{ block "main" . }}{{ end }}
            
            {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
        
            
        </div>    
            
        {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
            
    </body>
</html>