{{ define "main" }}
    <main>
        <div class="container-fluid g-page-banner-bg">
            <div class="container py-5">
                
                <h1 class="pb-0 mb-0" style="color:rgba(23, 73, 124, 1);">{{ .Title }}</h1>
                
                <section>
                    <h2 class="sr-only">Breadcrumbs</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href='{{ "/" | relURL }}'>Home</a></li>
                            <li class="breadcrumb-item active">{{ .Title }}</li>
                        </ol>

                </section>
                
                <div class="g-page-banner g-page-banner-{{ .Section }}"></div>
                
                <div class="row justify-content-center">
                    <div class="col-md-11">
                    {{ .Content }}
                    </div>
                </div>
                    
            </div>
        </div> 
    </main>    
{{ end }}