<div class="col-10 col-md-4 text-white g-bg-gray-800">
    <svg xmlns="http://www.w3.org/2000/svg" class="g-svg-editorial-board g-svg-gray-100 svg-icon" viewBox="0 0 20 20">
        <path fill="none" d="M14.023,12.154c1.514-1.192,2.488-3.038,2.488-5.114c0-3.597-2.914-6.512-6.512-6.512
        c-3.597,0-6.512,2.916-6.512,6.512c0,2.076,0.975,3.922,2.489,5.114c-2.714,1.385-4.625,4.117-4.836,7.318h1.186
        c0.229-2.998,2.177-5.512,4.86-6.566c0.853,0.41,1.804,0.646,2.813,0.646c1.01,0,1.961-0.236,2.812-0.646
        c2.684,1.055,4.633,3.568,4.859,6.566h1.188C18.648,16.271,16.736,13.539,14.023,12.154z M10,12.367
        c-2.943,0-5.328-2.385-5.328-5.327c0-2.943,2.385-5.328,5.328-5.328c2.943,0,5.328,2.385,5.328,5.328
        C15.328,9.982,12.943,12.367,10,12.367z"></path>
    </svg>
</div>
<div class="col-10 col-md-7 g-bg-gray-200">
    <div class="d-flex flex-column h-100">
        <p class="sr-only">Information for Board Member:</p>
        <p class="lead pt-3"><span class="sr-only">Name: </span>{{ .Get "name" }}</p>
        {{ with .Get "title" }}<p class="g-txt-color-dark-gray"><span class="sr-only">Title: </span>{{ . | safeHTML }}</p>{{ end }}
        <div class="mt-auto" style="font-size:1.7rem;"> 
             {{ if .Get "twitter" }}<a href='https://twitter.com/{{ .Get "twitter" }}'><p class="sr-only">Follow {{ .Get "name" }} on Twitter</p><svg class="svg-icon g-svc-icon-gray500" viewBox="0 0 20 20">
                    <path fill="none" d="M18.258,3.266c-0.693,0.405-1.46,0.698-2.277,0.857c-0.653-0.686-1.586-1.115-2.618-1.115c-1.98,0-3.586,1.581-3.586,3.53c0,0.276,0.031,0.545,0.092,0.805C6.888,7.195,4.245,5.79,2.476,3.654C2.167,4.176,1.99,4.781,1.99,5.429c0,1.224,0.633,2.305,1.596,2.938C2.999,8.349,2.445,8.19,1.961,7.925C1.96,7.94,1.96,7.954,1.96,7.97c0,1.71,1.237,3.138,2.877,3.462c-0.301,0.08-0.617,0.123-0.945,0.123c-0.23,0-0.456-0.021-0.674-0.062c0.456,1.402,1.781,2.422,3.35,2.451c-1.228,0.947-2.773,1.512-4.454,1.512c-0.291,0-0.575-0.016-0.855-0.049c1.588,1,3.473,1.586,5.498,1.586c6.598,0,10.205-5.379,10.205-10.045c0-0.153-0.003-0.305-0.01-0.456c0.7-0.499,1.308-1.12,1.789-1.827c-0.644,0.28-1.334,0.469-2.06,0.555C17.422,4.782,17.99,4.091,18.258,3.266"></path>
                </svg></a>{{ end }}  
            {{ if .Get "email" }}<a href='mailto:{{ .Get "email" }}'><p class="sr-only">Email {{ .Get "name" }}</p><svg class="svg-icon g-svc-icon-gray500" viewBox="0 0 20 20">
                <path fill="none" d="M17.051,3.302H2.949c-0.866,0-1.567,0.702-1.567,1.567v10.184c0,0.865,0.701,1.568,1.567,1.568h14.102c0.865,0,1.566-0.703,1.566-1.568V4.869C18.617,4.003,17.916,3.302,17.051,3.302z M17.834,15.053c0,0.434-0.35,0.783-0.783,0.783H2.949c-0.433,0-0.784-0.35-0.784-0.783V4.869c0-0.433,0.351-0.784,0.784-0.784h14.102c0.434,0,0.783,0.351,0.783,0.784V15.053zM15.877,5.362L10,9.179L4.123,5.362C3.941,5.245,3.699,5.296,3.581,5.477C3.463,5.659,3.515,5.901,3.696,6.019L9.61,9.86C9.732,9.939,9.879,9.935,10,9.874c0.121,0.062,0.268,0.065,0.39-0.014l5.915-3.841c0.18-0.118,0.232-0.36,0.115-0.542C16.301,5.296,16.059,5.245,15.877,5.362z"></path>
            </svg></a>{{ end }}
        </div>
    </div>
</div>
<div class="w-100 py-3"></div>
{{/* 
<div class="col-12 col-sm-12 mb-3 mb-sm-4">
    <div class="row align-content-center no-gutters g-bg-gray-200">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 h-100 mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="g-svg-large g-svg-blue svg-icon" viewBox="0 0 20 20">
                <path fill="none" d="M14.023,12.154c1.514-1.192,2.488-3.038,2.488-5.114c0-3.597-2.914-6.512-6.512-6.512
                c-3.597,0-6.512,2.916-6.512,6.512c0,2.076,0.975,3.922,2.489,5.114c-2.714,1.385-4.625,4.117-4.836,7.318h1.186
                c0.229-2.998,2.177-5.512,4.86-6.566c0.853,0.41,1.804,0.646,2.813,0.646c1.01,0,1.961-0.236,2.812-0.646
                c2.684,1.055,4.633,3.568,4.859,6.566h1.188C18.648,16.271,16.736,13.539,14.023,12.154z M10,12.367
                c-2.943,0-5.328-2.385-5.328-5.327c0-2.943,2.385-5.328,5.328-5.328c2.943,0,5.328,2.385,5.328,5.328
                C15.328,9.982,12.943,12.367,10,12.367z"></path>
            </svg>
        </div>
        <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-3">
            <div class="d-flex flex-column h-100">
                <p class="sr-only">Information for Board Member:</p>
                <p class="lead"><span class="sr-only">Name: </span>{{ .Get "name" }}</p>
                {{ with .Get "title" }}<p class="g-txt-color-dark-gray"><span class="sr-only">Title: </span>{{ . | safeHTML }}</p>{{ end }}
                <div class="mt-auto" style="font-size:1.7rem;"> 
                     {{ if .Get "twitter" }}<a href='https://twitter.com/{{ .Get "twitter" }}'><p class="sr-only">Follow {{ .Get "name" }} on Twitter</p><svg class="svg-icon g-svc-icon-gray500" viewBox="0 0 20 20">
                            <path fill="none" d="M18.258,3.266c-0.693,0.405-1.46,0.698-2.277,0.857c-0.653-0.686-1.586-1.115-2.618-1.115c-1.98,0-3.586,1.581-3.586,3.53c0,0.276,0.031,0.545,0.092,0.805C6.888,7.195,4.245,5.79,2.476,3.654C2.167,4.176,1.99,4.781,1.99,5.429c0,1.224,0.633,2.305,1.596,2.938C2.999,8.349,2.445,8.19,1.961,7.925C1.96,7.94,1.96,7.954,1.96,7.97c0,1.71,1.237,3.138,2.877,3.462c-0.301,0.08-0.617,0.123-0.945,0.123c-0.23,0-0.456-0.021-0.674-0.062c0.456,1.402,1.781,2.422,3.35,2.451c-1.228,0.947-2.773,1.512-4.454,1.512c-0.291,0-0.575-0.016-0.855-0.049c1.588,1,3.473,1.586,5.498,1.586c6.598,0,10.205-5.379,10.205-10.045c0-0.153-0.003-0.305-0.01-0.456c0.7-0.499,1.308-1.12,1.789-1.827c-0.644,0.28-1.334,0.469-2.06,0.555C17.422,4.782,17.99,4.091,18.258,3.266"></path>
                        </svg></a>{{ end }}  
                    {{ if .Get "email" }}<a href='mailto:{{ .Get "email" }}'><p class="sr-only">Email {{ .Get "name" }}</p><svg class="svg-icon g-svc-icon-gray500" viewBox="0 0 20 20">
                        <path fill="none" d="M17.051,3.302H2.949c-0.866,0-1.567,0.702-1.567,1.567v10.184c0,0.865,0.701,1.568,1.567,1.568h14.102c0.865,0,1.566-0.703,1.566-1.568V4.869C18.617,4.003,17.916,3.302,17.051,3.302z M17.834,15.053c0,0.434-0.35,0.783-0.783,0.783H2.949c-0.433,0-0.784-0.35-0.784-0.783V4.869c0-0.433,0.351-0.784,0.784-0.784h14.102c0.434,0,0.783,0.351,0.783,0.784V15.053zM15.877,5.362L10,9.179L4.123,5.362C3.941,5.245,3.699,5.296,3.581,5.477C3.463,5.659,3.515,5.901,3.696,6.019L9.61,9.86C9.732,9.939,9.879,9.935,10,9.874c0.121,0.062,0.268,0.065,0.39-0.014l5.915-3.841c0.18-0.118,0.232-0.36,0.115-0.542C16.301,5.296,16.059,5.245,15.877,5.362z"></path>
                    </svg></a>{{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
*/}}