/**
 * SVG Icons - svgicons.sparkk.fr
 *
 */
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}




/** 
 * Grow Research Series: Theme v2
 * Version 1.0
 */


/**
 * CSS Variables 
 */
:root {
    
    /* Padding */
    --grow-padding-section: 3rem 0rem 5rem 0rem; 
    --grow-padding-footer: 3em 0px; 
    
    
    
    --grow-color-body-bg: var(--grow-color-gray-100); //#e2e1e0; // #fff;
    --grow-color-header-bg:  var(--grow-color-dark-blue); //var(--grow-color-gray-300);
    --grow-color-footer-bg: var(--grow-color-dark-blue); //var(--grow-color-gray-300);
    --grow-color-nav-menu-bg: var(--grow-color-dark-blue);
    --grow-color-headings: var(--grow-color-dark-blue);
    --grow-color-a: var(--grow-color-dark-blue);
    --grow-color-a-hover: #326497;
    --grow-color-body-text: #3B3B3B;
    
    
    --grow-color-turquoise: #00656e;
    --grow-color-brink-pink: rgba(247, 86, 124, 1);
    --grow-color-cosmic-latte: rgba(255, 250, 227, 1);
    --grow-color-egg-blue: rgba(153, 225, 217, 1);
    --grow-color-black-coral: rgba(93, 87, 107, 1);
    --grow-color-desire: rgba(230, 57, 70, 1);
   
    --grow-color-isabelline: rgba(246, 232, 234, 1);
    --grow-color-light-blue: rgba(168, 218, 220, 1);
    --grow-color-queen-blue: rgba(69, 123, 157, 1);
    --grow-color-space-cadet: rgba(29, 53, 87, 1);
    
    
    --grow-color-dark-blue: rgba(23, 73, 124, 1);
    
    --grow-color-lightest-gray: rgba(245, 245, 245, 1);
    --grow-color-lighter-gray: rgba(226, 226, 226, 1);
    --grow-color-light-gray: rgba(214, 212, 206, 1);
    --grow-color-gray: #A9A9A9;
    --grow-color-dark-gray: #666666;
    --grow-color-blue-sapphire: rgba(21, 113, 127, 1);
    --grow-color-powder-blue: rgba(176, 225, 235, 1);
    
    /* Grays */ 
    --grow-color-gray-100: #f4f4f4;
    --grow-color-gray-200: #e9e9e9;
    --grow-color-gray-300: #dedede;
    --grow-color-gray-400: #d3d3d3;
    --grow-color-gray-500: #c9c8c8;
    --grow-color-gray-600: #bebdbd;
    --grow-color-gray-700: #b3b2b2;
    --grow-color-gray-800: #a8a7a7;
    
    /* Blues */
    --grow-color-blue-100: #e2e8ef;
    --grow-color-blue-200: #c5d2de;
    --grow-color-blue-300: #a8bbce;
    --grow-color-blue-400: #8ba4be;
    --grow-color-blue-500: #6e8dad;
    --grow-color-blue-600: #51779d;
    --grow-color-blue-700: #34608c;
    --grow-color-blue-800: #17497c;

}

/**
 * Scratch Pad
 */ 

.g-svc-icon-gray500 path,
.g-svc-icon-gray500 polygon,
.g-svc-icon-gray500 rect {
  fill: var(--grow-color-gray-500);
}


a:hover .g-svc-icon-gray500 path,
a:hover .g-svc-icon-gray500 polygon,
a:hover .g-svc-icon-gray500 rect,
a:focus .g-svc-icon-gray500 path,
a:focus .g-svc-icon-gray500 polygon,
a:focus .g-svc-icon-gray500 rect {
  fill: var(--grow-color-gray-800);
}



/**
 * Body and HTML Utilities 
 */
body { 
    background-color: var(--grow-color-body-bg);
    font-weight: lighter;
    color: var(--grow-color-body-text);
}

/*
 * Anchor Colours
 */ 


main a { 
    color:   #21618c; //#8b8b8b; // var(--grow-color-a);
}

main a:focus { 
    text-decoration: underline;
}

main a:hover { 
    color: var(--grow-color-a-hover);

}

/*
 * Headings 
 */ 
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
    color: var(--grow-color-headings);
}


h1, .h1 { font-size: 4.0rem !important; }
h2, .h2 { font-size: 3.0rem !important; padding: 1.8rem 0; }
h3, .h3 { font-size: 2.5rem !important; padding: 1.5rem 0;}
h4, .h4 { font-size: 2.0rem !important; padding: 1.5rem 0;}
h5, .h5 { font-size: 1.5rem !important; padding: 1.5rem 0;}
h6, .h6 { font-size: 1.0rem !important; padding: 1.5rem 0;}

.h1-404 { 
    padding-top: 2rem;
}

/**
 * Grow Text Styles 
 */

.g-txt-color-dark-gray { 
    color: var(--grow-color-dark-gray);
}



/*
 * Padding Utilities 
 */ 
.g-section-padding { padding: var(--grow-padding-section); }


/* 
 * Box Shadow Utilities
 */
.grow-box-shadow-1{
    box-shadow: 10px 10px 30px 0px rgba(23, 73, 124, 1);
}


/* 
 * Buttons 
 */

.btn { 
    border-radius: 5spx;
}

.btn.btn-primary { 
    background-color: var(--grow-color-dark-blue);
    border-color: #14406d;
    //transition: all 0.05s linear;
}

.btn.btn-primary:hover { 
    background-color: #11375d;
    transition: all 0.2s linear;
}

/* 
 * Home Section Content
 */
.grow-home-section-content { 
    font-size: 1.5rem;
    text-align: center;
}

.grow-home-section-content-svg { 
    background-color: var(--grow-color-blue-100);
    background: -webkit-linear-gradient(to bottom, var(--grow-color-blue-100) 75%, var(--grow-color-blue-200));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--grow-color-blue-100) 75%, var(--grow-color-blue-200)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    
}

.grow-home-section-content-svg svg{ 
    width: 100%;
    height: 100%;
    padding: 5rem;
}

.grow-home-section-content-svg svg path{ 
    fill: var(--grow-color-dark-blue);
}


/**
 * Image Overlay With Text Effect 
 */
.g-img-overlay { 
    position: relative; 
    width: 100%; /* for IE 6 */
    height: 100%;
}

.g-img-overlay img { 
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.g-img-overlay .g-img-overlay-text { 
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    width: 100%; 
    color: #fff;
}

/*
 * Background Colours 
 */ 
.bg-grow-turquoise { background-color: var(--grow-color-turquoise); }
.bg-grow-light-gray { background-color: var(--grow-color-gray-400); }
.bg-grow-header { background-color: var(--grow-color-header-bg); }
.bg-grow-gray-100 { background-color: var(--grow-color-gray-100); }

.g-bg-dark-blue { background-color: var(--grow-color-dark-blue); }
.g-bg-blue-100 { background-color: var(--grow-color-blue-100); }
.g-bg-blue-200 { background-color: var(--grow-color-blue-200); }
.g-bg-gray-100 { background-color: var(--grow-color-gray-100); }
.g-bg-gray-200 { background-color: var(--grow-color-gray-200); }
.g-bg-gray-800 { background-color: var(--grow-color-gray-800); }

.g-bg-world { 
    padding: 5rem 0; 
    background-color: #bcc8d2;
    background-size: cover; 
    background-position: center center; 
    background-image: url('/dev/images/home/bg/world-map.png'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.g-bg-test { 
    background: linear-gradient(
    -10deg
    , var(--grow-color-gray-200) 0%
    , var(--grow-color-gray-200) 50%
    , var(--grow-color-gray-200) 50%
    , var(--grow-color-gray-400) 100% 
  );
}



/**
 * Breadcrumbs 
 */ 
.breadcrumb { 
    background: none; 
    padding: 0 0 1rem 0;
}

.breadcrumb-item { 
    
}

.breadcrumb .breadcrumb-item a, .breadcrumb .breadcrumb-item.active { 
    color: var(--grow-color-turquoise) !important;
}


/**
 * Footer Styles  
 */
.footer { 
    //margin-top: 5rem;
    text-align: center;
    background-color: var(--grow-color-footer-bg);
    padding: var(--grow-padding-footer);
    color: #fff;
}

.footer a { 
    color: #fff;
}

.footer a:hover { 
    color: var(--grow-color-gray-200) !important;
    text-decoration: underline;
}


/**
 * About Mail Icon
 */ 

.g-svg-icon-style-1 { 
    overflow: hidden;
    width: 100%;
    height: 10rem;
    padding: 0px;
    text-align: center;
    //background: radial-gradient(at top center, rgb(215,221,232), rgb(117, 127, 154));  
}

.g-svg-icon-style-1 path { 
    fill: var(--grow-color-gray-100);
}


/**
 * About Person Icon 
 */

.g-svg-editorial-board { 
    width: 100%;
    height: 100%;
    height: 12rem;
    padding: 25px;

} 

.g-svg-gray-100 path{ 
    fill: var(--grow-color-gray-100);
}

.g-svg-blue path{ 
    fill: var(--grow-color-dark-blue);
}

.g-svg-white path{ 
    fill: #ffffff;
}

.g-svg-404 { 
    height: 8rem;
    width: 8rem;
}

/** 
 * Grow Jumbotron Styles
 */
.grow-jumbotron-bg { 
    background-color: var(--grow-color-dark-blue);
    background:linear-gradient(rgba(1,1,1,0.1), rgba(1,1,1,0.0)), url("/dev/images/home/jumbotron/home.jpg") center bottom / cover no-repeat var(--grow-color-dark-blue);
}


.grow-jumbotron { 
    padding: 4rem 0 5rem 0;
    color: #ffffff;
}

.grow-jumbotron hr { 
    width: 50%;
    border: 1px var(--grow-color-gray-400) solid; 
}

.grow-jumbotron .grow-jumbotron-h1 { 
    font-size: 3.0rem !important; 
    font-weight: 400;
    color: var(--grow-color-gray-100);
}

.grow-jumbotron .grow-jumbotron-lead { 
    font-size: 1.5rem !important;
    font-weight: 400;
}


@media (min-width: 576px) { 
    .grow-jumbotron {
        padding: 8.5rem 0 8.5rem 0;
    }

    .grow-jumbotron .grow-jumbotron-h1 { 
        font-size: 4.0rem !important; 
        font-weight: 300;
    }
    
    .grow-jumbotron .grow-jumbotron-lead { 
        font-size: 2rem !important;
        font-weight: 300;
        padding: 1rem 0 1rem 0;
    }

}



/**
 * Grow Navbar Customisation
 */ 

.navbar { 
    background-color: var(--grow-color-header-bg) !important;
    font-weight: lighter;
    padding: 0.5rem 0;
}

.navbar-brand { 
    font-weight: bolder;
    color: #505050 !important;
    color: #fff !important;
}


/**
 * Grow Navigation Styles
 */ 
.grow-navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    z-index: 1000;
    background-color: var(--grow-color-blue-800);
    
    transition: opacity .35s, visibility .35s, height .35s;
    
}

.no-js .grow-navigation-container {
    
    position: relative;
    opacity: 1;
    display: block;
    visibility: visible;
    background-color: transparent;
}

.grow-menu-button-svg path { 
    fill: #fff;
    transition: all 0.2s linear;
}
.grow-navigation-menu-button-open:hover .grow-menu-button-svg path { 
    fill: var(--grow-color-dark-blue);
    transition: all 0.2s linear;
}

.grow-navigation-menu-button-open:hover { 
    color: var(--grow-color-dark-blue);
}

.no-js .grow-navigation-container-topbar,
.no-js .grow-navigation-menu-button-open,
.no-js .grow-navigation-menu-button-close { 
    display: none; /* Refactor this in the future it's really bad */
}


.grow-navigation-container.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.grow-navigation-container h2 { 
    font-size: 2.0rem !important;
    text-align: center;
    font-weight: lighter;
    color: var(--grow-color-gray-100);
    text-transform: uppercase;
    border-bottom: 1px solid #fff; 
    transition: font-size 0.5s;
}

.grow-navigation-container.open h2 { 
    font-size: 2.5rem !important;
}


@media (min-width: 576px) { 
    .grow-navigation-container h2 { 
        /*font-size: 1.5rem !important;*/
    }
    
    .grow-navigation-container.open h2 { 
        font-size: 2.5rem !important;
    }
    
    .grow-navigation-container ul li a { 
        font-size: 2.5rem !important;
    }
    
}



.grow-navigation-container ul { 
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.grow-navigation-container ul li { 
    transform: translate(-10em,0);
    opacity: 0;

    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}



.grow-navigation-container ul li a { 
    display: block;
    font-size: 2rem; 
    color: var(--grow-color-lighter-gray);
    text-align: center;
    font-weight: lighter;
    
    
}

.grow-navigation-container.open ul li { 
    transform: translate(0,0);
    opacity: 1;
}



.grow-navigation-container ul li:nth-of-type(1) { 
    transition-delay: 0s;
}

.grow-navigation-container ul li:nth-of-type(2) { 
    transition-delay: 0.15s;
}

.grow-navigation-container ul li:nth-of-type(3) { 
    transition-delay: 0.20s;
}

.grow-navigation-container ul li:nth-of-type(4) { 
    transition-delay: 0.25s;
}

.grow-navigation-container ul li:nth-of-type(5) { 
    transition-delay: 0.30s;
}

.grow-navigation-container ul li:nth-of-type(6) { 
    transition-delay: 0.35s;
}

.grow-navigation-container ul li:nth-of-type(7) { 
    transition-delay: 0.40s;
}

.grow-navigation-container ul li:nth-of-type(8) { 
    transition-delay: 0.45s;
}

.grow-navigation-container ul li:nth-of-type(9) { 
    transition-delay: 0.50s;
}


/* 
 * Page Banner
 */
.g-page-banner-bg { 
    /*background: linear-gradient(
    -180deg
    , var(--grow-color-header-bg) 0%
    , var(--grow-color-header-bg) 350px
    , #fff 350px
    , #fff 100% 
  );*/
    
}


.g-page-banner { 
    height: 35rem;
    margin-bottom: 1rem;
    background-size: cover;
    //background-color: #fff;
    
} 

.g-page-banner.g-page-banner-working-papers { 
    background-image: url("/dev/images/banners/working-papers.jpg");
    background-position: center center;
}
.g-page-banner.g-page-banner-policy-briefs { 
    background-image: url("/dev/images/banners/policy-briefs.jpg");
    background-position: center center;
}
.g-page-banner.g-page-banner-research-bulletins { 
    background-image: url("/dev/images/banners/research-bulletins.jpg");
    background-position: center center;
}
.g-page-banner.g-page-banner-about { 
    background-image: url("/dev/images/banners/about.jpg");
    background-position: top right;
}
.g-page-banner.g-page-banner-submit-papers { 
    background-image: url("/dev/images/banners/submit-papers.jpg");
    background-position: top right;
}

/*
 * Grow Home Publications Cards
 */ 

.g-card-hp { 
    background-color: #fff;
    
}

.g-card-hp .g-card-hp-svg-top { 
    width: 100%;
    height: 8rem;
    padding: 10px;
    text-align: center;
    background-color: var(--grow-color-gray-100);
}

.g-card-hp .g-card-hp-svg-top path { 
    fill: var(--grow-color-gray-400);
}


.g-card-hp .g-card-hp-svg-top.g-card-hp-svg-top-blue { background-color: var(--grow-color-blue-200); }
.g-card-hp .g-card-hp-svg-top.g-card-hp-svg-top-blue path { fill: var(--grow-color-dark-blue); }

.g-card-hp .g-card-hp-body { 
    padding: 1.3rem; 
}

.g-card-hp .g-card-hp-body .g-card-hp-title h2,
.g-card-hp .g-card-hp-body .g-card-hp-title h3,
.g-card-hp .g-card-hp-body .g-card-hp-title h4,
.g-card-hp .g-card-hp-body .g-card-hp-title h5 { 
    font-size: 2.0rem !important;
    font-weight: 200;
    padding: 0;
    margin: 0 0 1.1rem 0;
    text-align: center;
    color: var(--grow-color-dark-blue);
}

@media (min-width: 576px) { 
    .g-card-hp .g-card-hp-svg-top { 
        /* Customisations for other view ports */
        width: 100%;
        height: 15rem;
        padding: 40px;
        text-align: center;
        background-color: var(--grow-color-gray-100);
    }
}

/*
 * Grow Research Bulletins Cards
 */ 
.g-card-rb { 
    background-color: #ffffff;
}

.g-card-rb .g-card-rb-body { 
    padding: 1.3rem 1.3rem 0rem 1.3rem;    
}

.g-card-rb .g-card-rb-footer { 
    padding: 0rem 1.3rem 0rem 1.3rem;
}

.g-card-rb .g-card-rb-img-top { 
    background-color: var(--grow-color-dark-blue);
    width: 100%;
}

.g-card-rb .g-card-rb-body .g-card-rb-title h2,
.g-card-rb .g-card-rb-body .g-card-rb-title h3,
.g-card-rb .g-card-rb-body .g-card-rb-title h4,
.g-card-rb .g-card-rb-body .g-card-rb-title h5 { 
    font-size: 1.1rem !important;
    font-weight: 300;
    padding: 0;
    color: var(--grow-color-dark-blue);
}

.g-card-rb .g-card-rb-body .g-card-rb-date {
    color: var(--grow-color-dark-gray);
    font-weight: 300;
    margin:0;
}

.g-card-rb .g-card-rb-body .g-card-rb-date p { 
    margin: 0;
}

.g-card-rb .g-card-rb-body .g-card-rb-issue {
    font-size: 0.9rem; 
    margin:0;
    color: var(--grow-color-gray-800);    
}




/*
 * Grow Working Papers Cards
 */ 
.g-card-wp { 
    background-color: #ffffff;
    /*
    transition: all 0.5s ease;
    border-radius: 3px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--grow-color-gray-300);
    */
}

.g-card-wp .g-card-wp-body { 
    padding: 1.3rem;    
}

.g-card-wp .g-card-wp-body .g-card-wp-title h2,
.g-card-wp .g-card-wp-body .g-card-wp-title h3,
.g-card-wp .g-card-wp-body .g-card-wp-title h4,
.g-card-wp .g-card-wp-body .g-card-wp-title h5 { 
    font-size: 1.2rem !important;
    padding: 0;
    margin: 0 0 1rem 0;
    //color: var(--grow-color-body-text);
}

.g-card-wp .g-card-wp-body .g-card-wp-author p { 
    color: var(--grow-color-dark-gray);
    //font-size: 1.1rem !important;
    font-weight: 300;
    
    margin:0;
}

.g-card-wp .g-card-wp-body .g-card-wp-date p,
.g-card-wp .g-card-wp-body .g-card-wp-type p {
    font-size: 0.9rem; 
    margin:0;
    color: var(--grow-color-gray-800);
}

.g-card-wp .g-card-wp-body .g-card-wp-number {
    font-size: 6rem;
    transform: scale(1.2);
    font-weight: 600;
    color: var(--grow-color-gray-100);
    //color: #fff;
}

/*
 * Grow Policy Brief Cards
 */ 
.g-card-pb { 
    background-color: #ffffff;
}

@media (min-width: 576px) { 
    .g-card-pb { 
        /* Customisations for other view ports */
    }
}

.g-card-pb:hover { 
    /* Hover effect goes here */
}

.g-card-pb .g-card-pb-img-top { 
    background-color: var(--grow-color-dark-blue);
    width: 100%;
}

.g-card-pb .g-card-pb-body { 
    padding: 1.3rem 1.3rem 0rem 1.3rem;    
}

.g-card-pb .g-card-pb-footer { 
    padding: 0rem 1.3rem 1.3rem 1.3rem;
}

.g-card-pb .g-card-pb-body .g-card-pb-title h2,
.g-card-pb .g-card-pb-body .g-card-pb-title h3,
.g-card-pb .g-card-pb-body .g-card-pb-title h4,
.g-card-pb .g-card-pb-body .g-card-pb-title h5 { 
    font-size: 1.1rem !important;
    font-weight: 300;
    padding: 0;
    color: var(--grow-color-dark-blue);
}

.g-card-pb .g-card-pb-body .g-card-pb-title p { 
    margin: 0;
}

.g-card-pb .g-card-pb-body .g-card-pb-title a {
    color: var(--grow-color-dark-blue);
}


.g-card-pb .g-card-pb-body .g-card-pb-subtitle { 
    font-size: 0.8rem;
    font-weight: 300;
}





/*
 * Grow Card Style 1 (Refactored code)
 */ 

.g-card-1 { 
    /*border-radius: 5px 5px 5px 5px;*/
    background-color: var(--grow-color-gray-800);
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/  
    width: inherit;
    height: 100%;
    margin: 10px 0;
}

.g-card-1 .g-card-1-image { 
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px 0px 10px;
    filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: auto;
}

.g-card-1 .g-card-1-body { 
    padding: 1rem;
}

.g-card-1 .g-card-1-body .g-card-1-title { 

}

.g-card-1 .g-card-1-body .g-card-1-subtitle { 

}

.g-card-1 .g-card-1-body .g-card-1-text { 

}

.g-card-1 .g-card-1-footer { 

}



/*
 * Home Page Cards (Latest Works)
 */
.g-card-lw { 
    background-color: #ffffff;
}

.g-card-lw-body {
    padding: 1.3rem 1.3rem 0rem 1.3rem;
    
}

.g-card-lw-body ul {
    margin: 0;
}

.g-card-lw-type { 
    color: var(--grow-color-dark-gray);
    margin: 0;
    padding: 0 0 0.5rem 0;
    font-size: 1.0rem !important;
    font-weight: 400;
}

.g-card-lw-title {
    font-size: 1.2rem !important;
    font-weight: 300;
    padding: 0 0 1rem 0;
    color: var(--grow-color-dark-blue);
    line-height: 1.4rem;
}

.g-card-lw-author { 
    font-size: 0.9rem !important;
}

.g-card-lw-subtitle { 
    font-size: 1rem !important;
    color: var(--grow-color-dark-gray);
    
}

.g-card-lw-subtype { 
    font-size: 0.9rem !important;
    color: var(--grow-color-gray-700);
    
}

.g-card-lw-footer { 
    margin: 0;
    padding: 0 1.3rem 0 1.3rem;
}

