<section>
    <div class="container-fluid g-section-padding g-bg-blue-100">
        <div class="container">

            <h2 class="pt-3 pb-5 text-center">GrOW Talks</h2>
            
            <div class="grow-home-section-content">
                
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-9">
                        <div class="embed-responsive embed-responsive-16by9 mb-5">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vfl93Hxlp54" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                
                <p>Want to learn more about the GrOW Program? GrOW Talks is a series of short videos featuring GrOW-funded women's economic empowerment projects around the world.</p>
                
            </div>
            
        </div>
    </div>
</section>