<section>
    <div class="container-fluid grow-jumbotron-bg">
        <div class="container">
            <div class="grow-jumbotron">

                <div class="d-flex justify-content-center flex-column text-center">
                    <div class="p-4">
                        <img src='{{ "images/logo/grow-tree-white-transparent.png" | relURL }}' width="80" alt="" />
                    </div>
                    <div class="p-2">
                        <h1 class="grow-jumbotron-h1">GrOW Research Series</h1>
                    </div>
                    <div class="p-2">
                        <hr class="mb-4" />
                        <p class="grow-jumbotron-lead">Advancing scholarly research on women’s economic growth and empowerment.</p>
                        <!--<p class="lead">
                            <a class="btn btn-light btn-lg mt-3 mr-sm-3" href='{{ "/working-papers/" | relURL }}' role="button">View Working Papers</a>
                            <a class="btn btn-light btn-lg mt-3 ml-sm-3" href='{{ "/submit-papers/" | relURL }}' role="button">Submit Working Paper</a>
                        </p>
                        -->
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>