<section>
    <div class="container-fluid g-section-padding bg-white">
        
        <h2 class="pt-3 pb-5 text-center">Our Partners</h2>
            
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-7 col-sm-6 col-md-2 p-3 p-sm-5 p-md-2 p-lg-3">
                <a rel="external" href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank"><img class="img-fluid g-test" src="images/partners/dfid.png" alt=""/><span class="sr-only">Department for International Development - GOV.UK</span></a>
            </div>
            <div class="col-7 col-sm-6 col-md-2 p-3 p-sm-5 p-md-2 p-lg-3">
                <a rel="external" href="http://www.hewlett.org/" target="_blank"><img class="img-fluid" src="images/partners/hewlet-flora.jpg" alt=""/><span class="sr-only">Hewlett Foundation</span></a>
            </div>
            <div class="col-7 col-sm-6 col-md-2 p-3 p-sm-5 p-md-2 p-lg-3">
                <a rel="external" href="https://www.idrc.ca/" target="_blank"><img  class="img-fluid" src="images/partners/idrc.jpg" alt=""/><span class="sr-only">IDRC - International Development Research Centre</span></a>
            </div>
            <div class="col-7 col-sm-6 col-md-2 p-3 p-sm-5 p-md-2 p-lg-3">
                <a rel="external" href="http://www.mcgill.ca/isid/" target="_blank"><img class="img-fluid" src="images/partners/isid.jpg" alt=""/><span class="sr-only">Institute for the Study of International Development</span></a>
            </div>
            <div class="col-7 col-md-2 p-3 p-sm-5 p-md-2 p-lg-3">
                <a rel="external" href="http://www.mcgill.ca/" target="_blank"><img class="img-fluid" src="images/partners/mcgill.png" alt=""/><span class="sr-only">McGill University</span></a>
            </div>

        </div>
    
    </div>
</section>