<section>
    <div class="container-fluid g-section-padding">
        <div class="container"> 
            
            <h2 class="mb-2 mb-sm-4 text-center">Latest Works</h2>

            <div class="row mt-4">
                
                {{ $selectedWorkingPaperNum := "08" }} 
                
                {{ range where $.Site.Data.publications.workingpapers.entries "num" $selectedWorkingPaperNum }}
                <div class="col-sm-6 col-md-4 mb-3 mb-sm-4">
                    <div class="g-card-lw d-flex align-items-start flex-column h-100">
                        <img class="img-fluid" src='{{ "/images/working-papers/1.png" | relURL }}' alt="" />
                        
                        <div class="g-card-lw-body">
                            
                            <h3 class="g-card-lw-type"><span class="sr-only">Latest </span>Working Paper</h3>
                            
                            <ul class="list-unstyled">
                                <li class="g-card-lw-title"><span class="sr-only">Working Paper Title: </span>{{ .title }}</li>
                                <li class="g-card-lw-author"><span class="sr-only">Working Paper Author(s): </span>{{ .author }}</li>
                                <!--
                                <li class="g-card-lw-subtitle"><span class="sr-only">Working Paper Date: </span>{{ .month }} {{ .year }}</li>
                                <li class="g-card-lw-subtype"><span class="sr-only">Working Paper Type: </span>{{ .type }}</li>
                                -->
                            </ul>
                            
                        </div>
                        
                        <div class="g-card-lw-footer mt-auto">
                            <p>
                                <a href="{{ .pubhref | relURL }}" class="btn btn-secondary btn-sm mt-3"> 
                                    <svg class="svg-icon" viewBox="0 0 20 20">
                                        <path fill="none" d="M15.608,6.262h-2.338v0.935h2.338c0.516,0,0.934,0.418,0.934,0.935v8.879c0,0.517-0.418,0.935-0.934,0.935H4.392c-0.516,0-0.935-0.418-0.935-0.935V8.131c0-0.516,0.419-0.935,0.935-0.935h2.336V6.262H4.392c-1.032,0-1.869,0.837-1.869,1.869v8.879c0,1.031,0.837,1.869,1.869,1.869h11.216c1.031,0,1.869-0.838,1.869-1.869V8.131C17.478,7.099,16.64,6.262,15.608,6.262z M9.513,11.973c0.017,0.082,0.047,0.162,0.109,0.226c0.104,0.106,0.243,0.143,0.378,0.126c0.135,0.017,0.274-0.02,0.377-0.126c0.064-0.065,0.097-0.147,0.115-0.231l1.708-1.751c0.178-0.183,0.178-0.479,0-0.662c-0.178-0.182-0.467-0.182-0.645,0l-1.101,1.129V1.588c0-0.258-0.204-0.467-0.456-0.467c-0.252,0-0.456,0.209-0.456,0.467v9.094L8.443,9.553c-0.178-0.182-0.467-0.182-0.645,0c-0.178,0.184-0.178,0.479,0,0.662L9.513,11.973z"></path>
                                    </svg>
                                    Download <span class="sr-only">Working Paper Title: {{ .title }}</span>
                                </a>
                            </p>
                        </div>
                        
                    </div>
                </div>
                {{ end }}
                
                
                
                {{ range first 1 (sort $.Site.Data.publications.policybriefs "num" "desc") }}
                <div class="col-sm-6 col-md-4 mb-3 mb-sm-4">
                    <div class="g-card-lw d-flex align-items-start flex-column h-100">
                        <img class="img-fluid" src='{{ .imgsrc | relURL }}' alt="" />
                        
                        <div class="g-card-lw-body">
                            
                            <h3 class="g-card-lw-type"><span class="sr-only">Latest </span>Policy Brief</h3>
                            
                            <ul class="list-unstyled">
                                <li class="g-card-lw-title"><span class="sr-only">Policy Brief Title: </span>{{ .title }}</li>
                                <li class="g-card-lw-author"><span class="sr-only">Policy Brief Author(s): </span>{{ .author }}</li>                                
                            </ul>
                            
                        </div>
                        
                        <div class="g-card-lw-footer mt-auto">
                            <p>
                                <a href="{{ .pubhref | relURL }}" class="btn btn-secondary btn-sm mt-3"> 
                                    <svg class="svg-icon" viewBox="0 0 20 20">
                                        <path fill="none" d="M15.608,6.262h-2.338v0.935h2.338c0.516,0,0.934,0.418,0.934,0.935v8.879c0,0.517-0.418,0.935-0.934,0.935H4.392c-0.516,0-0.935-0.418-0.935-0.935V8.131c0-0.516,0.419-0.935,0.935-0.935h2.336V6.262H4.392c-1.032,0-1.869,0.837-1.869,1.869v8.879c0,1.031,0.837,1.869,1.869,1.869h11.216c1.031,0,1.869-0.838,1.869-1.869V8.131C17.478,7.099,16.64,6.262,15.608,6.262z M9.513,11.973c0.017,0.082,0.047,0.162,0.109,0.226c0.104,0.106,0.243,0.143,0.378,0.126c0.135,0.017,0.274-0.02,0.377-0.126c0.064-0.065,0.097-0.147,0.115-0.231l1.708-1.751c0.178-0.183,0.178-0.479,0-0.662c-0.178-0.182-0.467-0.182-0.645,0l-1.101,1.129V1.588c0-0.258-0.204-0.467-0.456-0.467c-0.252,0-0.456,0.209-0.456,0.467v9.094L8.443,9.553c-0.178-0.182-0.467-0.182-0.645,0c-0.178,0.184-0.178,0.479,0,0.662L9.513,11.973z"></path>
                                    </svg>
                                    Download <span class="sr-only">the Policy Brief: {{ .title }}</span>
                                </a>
                            </p>
                        </div>
                        
                    </div>
                </div>
                {{ end }}
                
                {{ range first 1 (sort $.Site.Data.publications.researchbulletins "num" "desc") }}
                <div class="col-sm-6 col-md-4 mb-3 mb-sm-4">
                    <div class="g-card-lw d-flex align-items-start flex-column h-100">
                        <img class="img-fluid" src='{{ .imgsrc | relURL }}' alt="" />
                        
                        <div class="g-card-lw-body">
                            
                            <h3 class="g-card-lw-type"><span class="sr-only">Latest </span>Research Bulletin</h3>
                            
                            <ul class="list-unstyled">
                                <li class="g-card-lw-title"><span class="sr-only">Research Bulletin Title: </span>{{ .title }}  | <span class="sr-only">Research Bulletin Date: </span>{{ .year }} {{ .month }}</li>
                                <li class="g-card-lw-author">{{ .contrib }}</li>                                
                            </ul>
                            
                        </div>
                        
                        <div class="g-card-lw-footer mt-auto">
                            <p>
                                <a href="{{ .pubhref | relURL }}" class="btn btn-secondary btn-sm mt-3"> 
                                    <svg class="svg-icon" viewBox="0 0 20 20">
                                        <path fill="none" d="M15.608,6.262h-2.338v0.935h2.338c0.516,0,0.934,0.418,0.934,0.935v8.879c0,0.517-0.418,0.935-0.934,0.935H4.392c-0.516,0-0.935-0.418-0.935-0.935V8.131c0-0.516,0.419-0.935,0.935-0.935h2.336V6.262H4.392c-1.032,0-1.869,0.837-1.869,1.869v8.879c0,1.031,0.837,1.869,1.869,1.869h11.216c1.031,0,1.869-0.838,1.869-1.869V8.131C17.478,7.099,16.64,6.262,15.608,6.262z M9.513,11.973c0.017,0.082,0.047,0.162,0.109,0.226c0.104,0.106,0.243,0.143,0.378,0.126c0.135,0.017,0.274-0.02,0.377-0.126c0.064-0.065,0.097-0.147,0.115-0.231l1.708-1.751c0.178-0.183,0.178-0.479,0-0.662c-0.178-0.182-0.467-0.182-0.645,0l-1.101,1.129V1.588c0-0.258-0.204-0.467-0.456-0.467c-0.252,0-0.456,0.209-0.456,0.467v9.094L8.443,9.553c-0.178-0.182-0.467-0.182-0.645,0c-0.178,0.184-0.178,0.479,0,0.662L9.513,11.973z"></path>
                                    </svg>
                                    Download <span class="sr-only">the Research Bulletin: {{ .title }}</span>
                                </a>
                            </p>
                        </div>
                        
                    </div>
                </div>
                {{ end }}
            </div>

            <h2 class="mb-2 mb-sm-4 text-center">Publications</h2>

            <div class="row">
                <div class="col-md-5 d-none d-sm-block">
                    
                    <img class="h-100 w-100" style="object-fit: cover;" src='{{ "/images/home/publications.jpg" | relURL }}' alt="" />
                    
                </div>
                <!--<div class="col-md-6">
                    <div class="g-img-overlay">
                        <img src='{{ "/images/open-graph-data/grow-research-large-card.jpg" | relURL }}' alt="" />
                        <h2 class="g-img-overlay-text">Publications</h2>
                    </div>
                </div>-->
                <div class="col">
                    <div class="g-card-hp mb-4">
                        <div class="g-card-hp-body">
                            <div class="g-card-hp-title">
                                <h3 class="text-left">Working Papers</h3>
                            </div>
                            <div class="g-card-hp-text">
                                <p>Working papers are pre-publication versions of scholarly papers, aimed at stimulating public discussion of research and advancing scientific knowledge.</p>

                                <div>
                                    <a class="btn btn-primary btn-lg my-1" href='{{ "/working-papers/" | relURL }}' role="button">Read more <span class="sr-only">about GrOW Working Papers</span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="g-card-hp mb-4">
                        <div class="g-card-hp-body">
                            <div class="g-card-hp-title">
                                <h3 class="text-left">Policy Briefs</h3>
                            </div>
                            <div class="g-card-hp-text">
                                <p>Policy briefs are concise documents that synthesize research results, with special attention paid to policy implications.</p>

                                <div class="">
                                    <a class="btn btn-primary btn-lg my-1" href='{{ "/policy-briefs/" | relURL }}' role="button">Read more <span class="sr-only">about GrOW Policy Briefs</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-card-hp">
                        <div class="g-card-hp-body">
                            <div class="g-card-hp-title">
                                <h3 class="text-left">Research Bulletins</h3>
                            </div>
                            <div class="g-card-hp-text">
                                <p>Research bulletins are bi-monthly publications featuring current news, research, interviews, and discussion pieces on women’s empowerment written by Canadian development scholars and practitioners.</p>

                                <div class="">
                                    <a class="btn btn-primary btn-lg my-1" href='{{ "/research-bulletins/" | relURL }}' role="button">Read more <span class="sr-only">about GrOW Research Bulletins</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>