<section>
    <div class="container-fluid g-section-padding g-bg-world">
        <div class="container">

            <h2 class="pt-3 pb-5 text-center">Submit Papers</h2>
            
            <div class="grow-home-section-content">
            
                <p>Interested in submitting your work to our series? We invite manuscript submissions on a variety of topics related to women’s economic empowerment and economic growth.</p>

                <p class="pt-5"><a class="btn btn-primary btn-lg" href='{{ "/submit-papers/" | relURL }}' role="button">Submit Papers</a></p>
            
            </div>
        </div>
    </div>
</section>