<section>
    <div class="container-fluid g-section-padding">
        <div class="container">

            <h2 class="pt-3 pb-5 text-center">What We Do</h2>
            
            <div class="grow-home-section-content">
            
                <p>The GrOW Research Series brings together scholarly research on women’s economic empowerment and economic growth in low-income countries, and provides a conceptual and empirical basis for policy-making. It is also the official research platform for the <a href="https://www.idrc.ca/en/initiative/growth-and-economic-opportunities-women">Growth and Economic Opportunities for Women (<abbr>GrOW</abbr>) program</a>. This series is housed at the Institute for the Study of International Development (<abbr>ISID</abbr>) at McGill University in Montreal, Canada.</p>

                <p class="pt-5"><a class="btn btn-primary btn-lg" href='{{ "/about/" | relURL }}' role="button">Learn More <span class="sr-only">about The GrOW Reseach Series</span></a></p>

            </div>            

        </div>
    </div>
</section>