<!-- Open Graph Data -->
<meta property="og:url" content="{{ .URL | absURL }}"/>
<meta property="og:title" content="{{ .Title }} · {{ .Site.Title }}"/>
<meta property="og:image" content='{{ "images/open-graph-data/grow-research-large-card.png" | absURL }}'/>
<meta property="og:description" content="{{ .Site.Params.description }}"/>
