        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src='{{ "js/jquery-3.2.1.min.js" | relURL }}'></script>
        <script src='{{ "js/popper.min.js" | relURL }}'></script>
        <script src='{{ "js/bootstrap.min.js" | relURL }}'></script>

        <!-- Custom Site Scripts --> 
        <script src='{{ "js/main.js" | relURL }}'></script>