<footer>
    <div class="container-fluid g-bg-dark-blue">
        <div class="container">
            <div class="footer">
                <h2 class="sr-only">GrOW Research Series Website Footer</h2>

                <div class="d-flex align-items-center flex-column">

                    <div class="p-2 border border-lignt border-top-0 border-right-0 border-left-0">
                        <nav>
                            <h3 class="sr-only">GrOW Research Series Website Navigation</h3>

                            {{ $currentPage := . }}

                            <ul class="nav justify-content-center flex-column flex-md-row">
                                {{ range .Site.Menus.main }}
                                    <li class="nav-item"><a class="nav-link text-uppercase {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{end}}" href="{{.URL}}">{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}<span class="sr-only">Selected: </span>{{end}}{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </nav>
                    </div>

                    <div class="pt-4">

                        <h3 class="sr-only">GrOW Research Series Website Notice:</h3>

                        <p>2017 GrOW Research All Rights Reserved</p>
                    </div>

                    <div class="pt-4">
                        <img  src='{{ "images/logo/grow-tree-grey-transparent.png" | relURL}}' alt="" width="40" height="40" />
                    </div>
                </div>  
            </div>
        </div>
    </div>
</footer>
