<!-- Twitter Card -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="{{ .Site.Params.twitter }}">
<meta property="twitter:title" content="{{ .Site.Title }}">
<meta property="twitter:description" content="{{ .Site.Params.description }}">
<meta property="twitter:image" content='{{ "images/open-graph-data/grow-research-large-card.jpg" | absURL }}'>