<header>
    <div class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h2 class="sr-only">Website Title:</h2>
            <a class="navbar-brand grow-brand-logo d-flex align-items-center" href='{{ "" | relURL}}'>
                <img src='{{ "images/logo/grow-tree-white-transparent.png" | relURL}}' width="45" height="45" class="d-inline-block align-top mr-2" alt="">GrOW&nbsp;<span class="d-none d-sm-inline-block">Research Series</span>
            </a>
            <button class="btn btn-outline-light grow-navigation-menu-button-open ml-auto" type="button">
                Menu
                <svg xmlns="http://www.w3.org/2000/svg" class="grow-menu-button-svg svg-icon" viewBox="0 0 20 20">
                    <path d="M 3.314 4.8 h 13.372 c 0.41 0 0.743 -0.333 0.743 -0.743 c 0 -0.41 -0.333 -0.743 -0.743 -0.743 H 3.314 c -0.41 0 -0.743 0.333 -0.743 0.743 C 2.571 4.467 2.904 4.8 3.314 4.8 Z M 16.686 15.2 H 3.314 c -0.41 0 -0.743 0.333 -0.743 0.743 s 0.333 0.743 0.743 0.743 h 13.372 c 0.41 0 0.743 -0.333 0.743 -0.743 S 17.096 15.2 16.686 15.2 Z M 16.686 9.257 H 3.314 c -0.41 0 -0.743 0.333 -0.743 0.743 s 0.333 0.743 0.743 0.743 h 13.372 c 0.41 0 0.743 -0.333 0.743 -0.743 S 17.096 9.257 16.686 9.257 Z" ></path>
                </svg>
            </button>
        </div>
    </div>
</header>
<nav>
    <!-- Grow Menu Navigation Container which has the menu and close button --> 
    <div class="grow-navigation-container d-flex">

        <div class="container">

            <div class="d-flex flex-column">
                <h2 class="order-2 py-5">Navigation <span class="sr-only">Menu</span></h2>

                <ul class="order-3 py-5">

                    {{ $currentPage := . }}

                    {{ range .Site.Menus.main }}
                        <li><a {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} class="active"{{end}} href="{{.URL}}">{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}<span class="sr-only">Selected: </span>{{end}}{{ .Name }}</a></li>
                    {{ end }}
                </ul>

                <div class="ml-auto mr-auto pt-4 order-1">
                    <button type="button" class="btn btn-primary grow-navigation-menu-button-close" aria-label="Close">
                        Close <span aria-hidden="true">&times;</span>
                    </button>
                </div>


            </div>

        </div>

    </div>
</nav>