<!-- START SECTION HEADER --> 
<div class="container-fluid" style="background-color: beige;">
    <div class="container py-5">
        <h1>{{.Title}}</h1>
    </div>
</div>
<!-- END SECTION HEADER -->