<!-- Favicon Information --> 
<link rel="apple-touch-icon" sizes="180x180" href='{{ "/images/favicons/apple-touch-icon.png" | relURL }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ "/images/favicons/favicon-32x32.png" | relURL }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ "/images/favicons/favicon-16x16.png" | relURL }}'>
<link rel="manifest" href='{{ "/images/favicons/manifest.json" | relURL }}'>
<link rel="mask-icon" href='{{ "/images/favicons/safari-pinned-tab.svg" | relURL }}' color="#17497c">
<link rel="shortcut icon" href='{{ "/images/favicons/favicon.ico" | relURL }}'>
<meta name="msapplication-config" content='{{ "/images/favicons/browserconfig.xml" | relURL }}'>
<meta name="theme-color" content="#17497c">